{%- macro render_record(bibliographicRecord) -%}
<span>
    <span class="vyfony-bibliography-bibliographic-record-short-name">{{- bibliographicRecord.shortName -}}</span>
    {{- ' — ' -}}
    <span class="vyfony-bibliography-bibliographic-record-displayed-value">{{- bibliographicRecord.displayedValue -}}</span>
</span>
{%- endmacro -%}
